.request-info-box {
  background: #ffffff;
    border-radius: 14px;
    width: 255px;
    max-width: 95%;
    padding: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    animation: slideIn 0.3s ease-out;
    height: 280px;
    overflow: auto;
    margin-top: 20px;
}

@keyframes slideIn {
  from {
    transform: translateX(50px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.request-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.back-btn {
 font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #555;
    top: 70px
}

.back-btn:hover {
  color: #000;
}

.request-header h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

.request-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.section-box {
  background: #f7f7f7;
  border-radius: 12px;
  padding: 15px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.section-box h4 {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  margin-bottom: 8px;
}

.section-box p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

.learn-more {
  color: #6366f1;
  cursor: pointer;
  font-weight: 500;
}

.toggle-setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #6366f1;
}

input:checked+.slider:before {
  transform: translateX(21px);
}

.monthly-note {
  font-size: 13px;
  color: #777;
}